{{template "templates/layout.html" .}}
{{ define "title" }} Login page title {{ end }}
{{ define "content" }}

{{template "templates/partial/top-advertisement.html" .}}
<section id="form-2">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form action="/login" method="POST">
                        <input type="email" name="email" placeholder="Email Address" />
                        <span><small style="color: red">
                                {{.message.LoginEmailREQUIRED}}
                                {{.message.LoginEmailEMAIL}}
                        </small></span>
                        <input type="password" placeholder="Password" name="password"/>
                        <span><small style="color: red">
                                {{.message.LoginPaswordREQUIRED}}
                        </small></span>
                        {{.csrfField}}
                        <span>
                            <input type="checkbox" class="checkbox"> Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div>
                <!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form action="/register" method="post">
                        <input type="text" name="name" placeholder="Name" required/>
                        <span><small style="color: red">
                            {{.message.RegisterUsernameREQUIRED}}
                            {{.message.RegisterUsernameMIN}}
                            {{.message.RegisterUsernameMAX}}
                            {{.message.RegisterUsernameALPHANUM}}
                        </small></span>
                        
                        <input type="email" name="email" placeholder="Email Address" required />
                        <span><small style="color: red">
                            {{.message.RegisterEmailREQUIRED}}
                            {{.message.RegisterEmailEMAIL}}
                            {{.message.RegisterEmailEXIST}}
                        </small></span>

                        <input type="password" name="password" placeholder="Password" required />
                        <span><small style="color: red">
                            {{.message.RegisterPaswordREQUIRED}}
                            {{.message.RegisterPasswordMIN}}
                        </small></span>
                        
                        {{.csrfField}}                        
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->
{{ end }}
