<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    {{range .products}}
    <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <form action='{{urlfor "CartController.AddToCart" ":id" .Id}}' method="post">
                        <div class="productinfo text-center">
                            {{ range .ProductImages }}
                            <img src="/static/images/home/{{.Image}}" alt="" />
                            {{ end }}
                            <h2>${{.Price}}</h2>
                            <p>{{.Name}}</p>
                            <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>${{.Price}}</h2>
                                <p>{{.Name}}</p>
                                <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <a href="#">
                                <i class="fa fa-plus-square"></i>Add to wishlist</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-plus-square"></i>Add to compare</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {{end}}
</div>
