<div id="flash-container">
{{ if .flash.notice }}
    <div id="flash-message" class="alert alert-box-fixed0 alert-box-fixed alert-dismissible alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{.flash.notice}}
    </div>
{{end}}
{{ if .flash.error }}
<div id="flash-message" class="alert alert-box-fixed0 alert-box-fixed alert-dismissible alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{.flash.error}}
</div>
{{end}}
{{ if .flash.warning }}
<div id="flash-message" class="alert alert-box-fixed0 alert-box-fixed alert-dismissible alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{.flash.warning}}
</div>
{{end}}
</div>