{{ template "templates/layout.html" .}}
{{ define "title" }} Product detail title {{ end }}
{{ define "content" }}
<section>
    <div class="container">
        <div class="row">
            {{template "templates/partial/left-sidebar.html" .}}
            <!-- /Left sidebar -->

            <div class="col-sm-9 padding-right">
                
                {{template "templates/partial/product-detail.html" .}}
                <!--/product-details-->

                {{template "templates/partial/category-tab.html" .}}
                <!--/category-tab-->

                {{template "templates/partial/recommend-item.html" .}}
                <!--/recommended-items-->

            </div>
        </div>
    </div>
</section>
{{ end }}
