{{template "templates/layout.html" .}}
{{ define "title" }} Home title {{ end }}
{{ define "content" }}

{{template "templates/partial/slider.html" .}}
<!--/slider-->
<section>
    <div class="container">
        <div class="row">
            {{template "templates/partial/left-sidebar.html" .}}
            <!-- /Left sidebar -->
            
            <div class="col-sm-9 padding-right">
                {{template "templates/partial/feature-item.html" .}}
                <!--features_items-->

                {{template "templates/partial/category-tab.html" .}}
                <!--/category-tab-->

                {{template "templates/partial/recommend-item.html" .}}
                <!--/recommended-items-->
            </div>
        </div>
    </div>
</section>
{{ end }}