{{ define "title" }} Checkout Page {{ end }}
{{ define "content" }}

{{template "top-advertisement.html" .}}
<section id="form-2">
    <!--form-->
    {{if .titleMessage}}
        <b id="message-checkout"
        data-title={{.titleMessage}}
        data-body={{.contentMessage}}>
        ></b>
    {{end}}
    {{template "modal.html"}}
    <div class="container wrapper">
            <div class="row cart-head">
                <div class="container">
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <div style="display: table; margin: auto;">
                        <span class="step step_complete"> <a href="#" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
                        <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
                        <span class="step_thankyou check-bc step_complete">Thank you</span>
                    </div>
                </div>
                <div class="row">
                    <p></p>
                </div>
                </div>
            </div>    
            <div class="row cart-body">   
                <form class="form-horizontal" method="post" action="/checkout">
                    {{.csrfField}}
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                        <!--REVIEW ORDER-->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Review Order <div class="pull-right"><small><a class="afix-1" href="#">Edit Cart</a></small></div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group"><hr /></div>
                                {{ range .cart.CartProducts}}
                                <div class="form-group">
                                    <div class="col-sm-3 col-xs-3">
                                        <img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg" />
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="col-xs-12">{{.Product.Name}}</div>
                                        <div class="col-xs-12"><small>Quantity:<span>{{.Quantity}}</span></small></div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6>{{.PriceFollowQuantity}}<span>vnd</span></h6>
                                    </div>
                                </div>
                                {{end}}
                                
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Subtotal</strong>
                                        <div class="pull-right"><span>20000</span><span>vnd</span></div>
                                    </div>
                                    <div class="col-xs-12">
                                        <small>Shipping</small>
                                        <div class="pull-right"><span>-</span></div>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Order Total</strong>
                                        <div class="pull-right"><span>{{.totalPrice}}</span><span>vnd</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--REVIEW ORDER END-->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                        <!--SHIPPING METHOD-->
                        <div class="panel panel-info">
                            <div class="panel-heading">Address</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4>Shipping Address<span style="color: red">(*)</span></h4>
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <strong>Name Receiver<span style="color: red">(*)</span>:</strong>
                                        <input type="text" name="name-receiver" class="form-control" value="" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Address<span style="color: red">(*)</span>:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" name="address" class="form-control" value="" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--SHIPPING METHOD END-->
                        <!--CREDIT CART PAYMENT-->
                        <div class="panel panel-info">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Online Payment<span style="color: rgb(236, 233, 232)"> (Pay by Creditcard)</span></div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Card Bank<span style="color: red">(*)</span>:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="bank" value="" required/></div>                                    
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Credit Card Number<span style="color: red">(*)</span>:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" required/></div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span>Pay secure using your credit card.</span>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="cards">
                                            <li class="visa hand">Visa</li>
                                            <li class="mastercard hand">MasterCard</li>
                                            <li class="amex hand">Amex</li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text_center">
                                        {{if .cart.CartProducts}}
                                        <button type="submit" class="btn btn-primary btn-submit-fix">Place Order</button>
                                        {{else}}
                                        <button type="submit" class="btn btn-primary btn-submit-fix" disabled>Place Order</button>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--CREDIT CART PAYMENT END-->
                    </div>
                
                </form>
            </div>
        </div>
</section>
<!--/form-->
{{ end }}

